<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../../styles/main.css" />
</head>

<body>
        <%- include('../layouts/nav') %>
    <main>
        <article class="details">
            <div class="container">
                <section class="description d-flex flex-wrap">
                    <img src="<%= anime.image_url %> " alt="<%= anime.title %>" />
                    <section>
                        <% console.log(anime.title) %>
                        <h2><%= anime.title %></h2>
                        <p><%= anime.description %></p>
                    </section>
                </section>
            </div>
            </section>
            <section class="sub-description">
                <div class="container">
                    <div>

                        <ul>
                            <li>episodes: <%= anime.episodes %></li>
                            <li>genres: <%= anime.genres %></li>
                            <li>status: <%= anime.status %></li>
                            <li>aired: <%= anime.aired %></li>
                            <li>duration: <%= anime.duration %></li>
                            <li>rating: <%= anime.rating %></li>
                            <li>score: <%= anime.score %></li>
                            <li>popularity: <%= anime.popularity %></li>
                            <li>rank: <%= anime.rank %></li>
                        </ul>
                    </div>

                </div>
            </section>
            <section class="add-anime-to">
                <div class="container d-flex justify-center">

                    <% if (localStorage.getItem("userid")!==null ){ %>
                    <!-- --- favorite --- -->
                    <form action="/updateUserList" method="POST">
                        <%- include('../layouts/anime_inputs') %>
                        <!--  -->

                        <input type="hidden" name="option" value="is_favorite" />
                        <button type="submit">favorite</button>
                    </form>
                    <!-- xxx favorite xxx -->
                    <!-- --- is_watching --- -->
                    <form action="/updateUserList" method="POST">
                        <%- include('../layouts/anime_inputs') %>
                        <!--  -->

                        <input type="hidden" name="option" value="is_watching" />
                        <button type="submit">watching</button>
                    </form>
                    <!-- xxx is_watching xxx -->
                    <!-- --- is_watched --- -->
                    <form action="/updateUserList" method="POST">
                        <%- include('../layouts/anime_inputs') %>
                        <!--  -->
                        <input type="hidden" name="option" value="is_watched" />
                        <button type="submit">watched</button>
                    </form>
                    <!-- xxx is_watched xxx -->
                    <!-- --- following --- -->
                    <% if (anime.airing) { %>
                    <form action="/updateUserList" method="POST">
                        <%- include('../layouts/anime_inputs') %>
                        <!--  -->
                        <input type="hidden" name="option" value="following" />
                        <button type="submit">follow</button>
                    </form>

                    <% } %> <% } %>
                    <!-- xxx following xxx -->
                </div>
            </section>
        </article>
    </main>
    <%- include('../layouts/notification') %>
    <%- include('../layouts/footer') %>
</body>

</html>