<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>details</title>
    </head>
    <body>
        <header>
            <nav>nav</nav>
        </header>
        <main>
            <% console.log(anime) %>
            <article class="details">
                <section>
                    <img
                        src="<%= anime.image_url %> "
                        alt="<%= anime.title %>"
                    />
                    <section class="description">
                        <h2><% anime.title %></h2>
                        <p><%= anime.description %></p>
                    </section>
                </section>
                <section class="sub-description">
                    <ul>
                        <li class="title"><h2>Information</h2></li>
                        <li>episodes:  <%= anime.episodes %></li>
                        <li>genres:  <%= anime.genres %></li>
                        <li>status: <%= anime.status %></li>
                        <li>aired: <%= anime.aired %></li>
                        <li>duration: <%= anime.duration %></li>
                        <li> rating:  <%= anime.rating %></li>
                    </ul>
                    <ul><li class="title"><h2>rating</h2></li>
                        <li> score: <%= anime.score %></li>
                        <li>popularity:  <%= anime.popularity %></li>
                     
                </section>
            </article>
        </main>
    </body>
</html>
<!-- <% anime.genres.forEach(item => {%><%= item.name ,
                            %> <%}); %> -->
